ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    background-color: #1c98ea;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
}